{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}


{% block content %}

    <div class="container">
        <a href="{{url_for('main.new_pitch')}}">
            <br>
            Add a new Pitch
        </a> 
        <br>
        <a href="{{url_for('main.interview')}}">
            <br>
            Inteview Pitches
        </a>
        <br>
        <a href="{{url_for('main.pick_up_line')}}">
            <br>
            Pick Up Lines
        </a>
        <br>
        <a href="{{url_for('main.promotion')}}">
            <br>
            Promotion Pitches
        </a>
        <br>
        <a href="{{url_for('main.product')}}">
            <br>
            Product Pitches
        </a>
        <br>

        <hr>
        
            {{macro.displayPitchesInCategories(pitches)}}
    
    </div>


{% endblock %}